:root { 
--blue_gray_100:#d0d5dd; 
--blue_A400:#3a71ff; 
--gray_900:#101828; 
--blue_gray_500:#667085; 
--orange_800:#db6803; 
--black_900_0c:#0000000c; 
--gray_300:#dddddd; 
--gray_50:#fefaf6; 
--gray_900_0c:#1018280c; 
--black_900:#000000; 
--purple_900:#493083; 
--blue_gray_800:#344054; 
--white_A700:#ffffff; 
}